.qualified {
  // color: blue;
  opacity: 1;
}

.unqualified {
  // color: red;
  opacity: .2;
}

.civ-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-size: cover;
}
