<mat-form-field class="my-chip-list">
  <mat-chip-list #chipList aria-label="Tech selection">
    <mat-chip *ngFor="let tech of techs" [selectable]="selectable" (removed)="remove(tech)">
      <img matChipAvatar [src]="imagePathOf(tech)">
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Technlogies..." #techInput [formControl]="techCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option style="height: 100px;" *ngFor="let tech of filteredTechs | async" [value]="tech">
      <img [src]="imagePathOf(tech)">
    </mat-option>
  </mat-autocomplete>
</mat-form-field>