.my-chip-list {
  width: 93%;
  margin: 1% 1%;
  vertical-align: middle;
}

.mat-standard-chip .my-avatar {
  height: 50px;
  width: 50px;
}
.my-chip {
  height: 50px;
  color:white;
}

.blue {
  background-color: #3a6a80;
}
.red {
  background-color: #922602;
}
.green {
  background-color: #2c5729;
}
.purple {
  background-color: #af30a3;
}

mat-option {
  height: 100px; 
  color:white;
}

mat-option img {
  vertical-align: middle;
}