<!-- <p>{{(techService.selectedTechs$|async|json)}}</p> -->
<!-- <button (click)="techService.clear()">clear techs</button> -->
<mat-sidenav-container class="example-container">
  <mat-sidenav position="start" mode="side" opened>
    <app-civ-table></app-civ-table>
    <app-footer></app-footer>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-tech-chip-area></app-tech-chip-area>
    <app-tech-graph></app-tech-graph>
  </mat-sidenav-content>
  <!-- <mat-sidenav style="width: 650px;" position="end" mode="side" opened> -->
  <!-- <app-tech-table></app-tech-table> -->
  <!-- <app-tech-search></app-tech-search> -->
  <!-- </mat-sidenav> -->
</mat-sidenav-container>