.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.wood-background {
  background-image: url("/assets/backgrounds/wood.png");
}
.paper-background {
  background-image: url("/assets/backgrounds/paper.png");
}

mat-sidenav {
  width: 200px;
}
app-footer {
  position: absolute;
  bottom: 15px;
  left: 10%;
}