<div class="page">
  <ngx-graph [links]="edges" [nodes]="nodes" [layout]="layout" [curve]="curve" [draggingEnabled]="draggingEnabled"
    [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled" [zoomSpeed]="zoomSpeed" [minZoomLevel]="minZoomLevel"
    [maxZoomLevel]="maxZoomLevel" [panOnZoom]="panOnZoom" [autoZoom]="autoZoom" [autoCenter]="autoCenter"
    [update$]="update$" [center$]="center$" [zoomToFit$]="zoomToFit$" [layoutSettings]="layoutSettings"
    [clusters]='clusters'>
    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #clusterTemplate let-cluster>
      <svg:g class="node cluster">

        <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
          [attr.fill]="cluster.data.color" />
        <svg:image [attr.xlink:href]="cluster.data.logo"></svg:image>
      </svg:g>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect [attr.width]="100" [attr.height]="110" [attr.fill]="node.data.customColor|techColorPipe" />
        <!-- <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text> -->
        <svg:image [attr.xlink:href]="'assets/techs/' + node.id + '.png'" height="80" x="10" y="5"
          [matTooltip]="node.id|titlecase">

        </svg:image>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="3" marker-end="url(#arrow)">
        </svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>