<!-- barracks table -->
<table class="animate">
  <!-- headers -->
  <tr>
    <th>
      <app-tech-cell [technology]="techs.dark_age"></app-tech-cell>
    </th>
    <th>
      <app-tech-cell [technology]="techs.feudal_age"></app-tech-cell>
    </th>
    <th>
      <app-tech-cell [technology]="techs.castle_age"></app-tech-cell>
    </th>
    <th>
      <app-tech-cell [technology]="techs.imperial_age"></app-tech-cell>
    </th>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.barracks"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.militia"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.man_at_arms"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.long_swordsman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.two_handed_swordsman"></app-tech-cell>
      <app-tech-cell [technology]="techs.champion"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.spearman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.pikeman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.halberdier"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.eagle_scout"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.eagle_warrior"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_eagle_warrior"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.supplies"></app-tech-cell>
    </td>
    <td>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.squires"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.arson"></app-tech-cell>
    </td>
    <td></td>
  </tr>


  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.archery_range"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.archer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.crossbowman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.arbalester"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.skirmisher"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_skirmisher"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.cavalry_archer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_cavalry_archer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.hand_cannoneer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.thumb_ring"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.parthian_tactics"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.stable"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.scout_cavalry"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.light_cavalry"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.hussar"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.knight"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.cavalier"></app-tech-cell>
      <app-tech-cell [technology]="techs.paladin"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.camel_rider"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_camel_rider"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.battle_elephant"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_battle_elephant"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.steppe_lancer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_steppe_lancer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.bloodlines"></app-tech-cell>
    </td>
    <td>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.husbandry"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.siege_workshop"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.battering_ram"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.capped_ram"></app-tech-cell>
      <app-tech-cell [technology]="techs.siege_ram"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.mangonel"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.onager"></app-tech-cell>
      <app-tech-cell [technology]="techs.siege_onager"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.scorpion"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_scorpion"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.siege_tower"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.bombard_cannon"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.castle"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.petard"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.trebuchet"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.hoardings"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.sappers"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.conscription"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.spies"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td>
      <app-tech-cell [technology]="techs.dock"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.fishing_ship"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.fish_trap"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.transport_ship"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.trade_cog"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.demolition_raft"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.demolition_ship"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_demo_ship"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.galley"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.war_galley"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.galleon"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.fire_galley"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.fire_ship"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.fast_fire_ship"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
    </td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.cannon_galleon"></app-tech-cell>
      <app-tech-cell [technology]="techs.elite_cannon_galleon"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.careening"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.dry_dock"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.gillnets"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.shipwright"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.monastery"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.monk"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.redemption"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.atonement"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.herbal_medicine"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.heresy"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.sanctity"></app-tech-cell>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.fervor"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.faith"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.illumination"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.block_printing"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.theocracy"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.blacksmith"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.padded_archer_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.leather_archer_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.ring_archer_armor"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.fletching"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.bodkin_arrow"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.bracer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.forging"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.iron_casting"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.blast_furnace"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.scale_barding_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.chain_barding_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.plate_barding_armor"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.scale_mail_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.chain_mail_armor"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.plate_mail_armor"></app-tech-cell>
    </td>
  </tr>


  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.university"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.ballistics"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.masonry"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.architecture"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.chemistry"></app-tech-cell>
      <app-tech-cell [technology]="techs.bombard_tower"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.fortified_wall"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.siege_engineers"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.guard_tower"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.keep"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.heated_shot"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.murder_holes"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.treadmill_crane"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.arrowslits"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.town_center"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.villager"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.loom"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.wheelbarrow"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.hand_cart"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.town_watch"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.town_patrol"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.mining_camp"></app-tech-cell>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.gold_mining"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.gold_shaft_mining"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.stone_mining"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.stone_shaft_mining"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.lumber_camp"></app-tech-cell>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.double_bit_axe"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.bow_saw"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.two_man_saw"></app-tech-cell>
    </td>
  </tr>


  <tr>
    <td>
      <app-tech-cell [technology]="techs.mill"></app-tech-cell>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <app-tech-cell [technology]="techs.farm"></app-tech-cell>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.horse_collar"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_plow"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.crop_rotation"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.market"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.trade_cart"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.coinage"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.banking"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.caravan"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.guilds"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.palisade_gate"></app-tech-cell>
    </td>
    <td></td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <app-tech-cell [technology]="techs.palisade_wall"></app-tech-cell>
    </td>
    <td></td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <app-tech-cell [technology]="techs.outpost"></app-tech-cell>
    </td>
    <td></td>
    <td>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.stone_wall"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.fortified_wall"></app-tech-cell>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.gate"></app-tech-cell>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.watch_tower"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.guard_tower"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.keep"></app-tech-cell>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.wonder"></app-tech-cell>
    </td>
  </tr>

</table>