<!-- barracks table -->
<table class="animate">
  <!-- headers -->
  <tr>
    <th>Dark</th>
    <th>Feudal</th>
    <th>Castle</th>
    <th>Imperial</th>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.barracks"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.militia"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.man_at_arms"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.long_swordsman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.two_handed_swordsman"></app-tech-cell>
      <app-tech-cell [technology]="techs.champion"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.spearman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.pikeman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.halberdier"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.eagle_scout"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.eagle_warrior"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_eagle_warrior"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.supplies"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.squires"></app-tech-cell>
      <app-tech-cell [technology]="techs.arson"></app-tech-cell>
    </td>
    <td></td>
  </tr>

</table>

<!-- archery table -->
<table class="animate">
  <!-- headers -->
  <tr>
    <!-- <th>Dark</th> -->
    <th>Feudal</th>
    <th>Castle</th>
    <th>Imperial</th>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.archery_range"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.archer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.crossbowman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.arbalester"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.skirmisher"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_skirmisher"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.cavalry_archer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_cavalry_archer"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td></td>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.hand_cannoneer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.thumb_ring"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.parthian_tactics"></app-tech-cell>
    </td>
  </tr>
</table>

<!-- stable table -->
<table class="animate">
  <!-- headers -->
  <tr>
    <!-- <th>Dark</th> -->
    <th>Feudal</th>
    <th>Castle</th>
    <th>Imperial</th>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.stable"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.scout_cavalary"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.light_cavalary"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.hussar"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.camel_rider"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_camel_rider"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.battle_elephant"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_battle_elephant"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.steppe_lancer"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_steppe_lancer"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.bloodlines"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.husbandry"></app-tech-cell>
    </td>
    <td></td>
  </tr>
</table>


<!-- siege table -->
<table class="animate">
  <!-- headers -->
  <tr>
    <!-- <th>Dark</th> -->
    <!-- <th>Feudal</th> -->
    <th>Castle</th>
    <th>Imperial</th>
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.siege_workshop"></app-tech-cell>
    </td>
    <td></td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.battering_ram"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.capped_ram"></app-tech-cell>
      <app-tech-cell [technology]="techs.siege_ram"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.mangonel"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.onager"></app-tech-cell>
      <app-tech-cell [technology]="techs.siege_onager"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.scorpion"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.heavy_scorpion"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
      <app-tech-cell [technology]="techs.siege_tower"></app-tech-cell>
    </td>
    <!-- <td></td> -->
  </tr>

  <tr>
    <!-- <td></td> -->
    <!-- <td></td> -->
    <td>
    </td>
    <td>
      <app-tech-cell [technology]="techs.bombard_cannon"></app-tech-cell>
    </td>
  </tr>
</table>