<table class="animate">
  <!-- headers -->
  <tr>
    <th>Dark</th>
    <th>Feudal</th>
    <th>Castle</th>
    <th>Imperial</th>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.barracks"></app-tech-cell>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>
      <app-tech-cell [technology]="techs.militia"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.man_at_arms"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.long_swordsman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.two_handed_swordsman"></app-tech-cell>
      <app-tech-cell [technology]="techs.champion"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.spearman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.pikeman"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.halberdier"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.eagle_scout"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.eagle_warrior"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.elite_eagle_warrior"></app-tech-cell>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <app-tech-cell [technology]="techs.supplies"></app-tech-cell>
    </td>
    <td>
      <app-tech-cell [technology]="techs.squires"></app-tech-cell>
      <app-tech-cell [technology]="techs.arson"></app-tech-cell>
    </td>
    <td></td>
  </tr>

</table>