<mat-table #table [dataSource]="dataSource" matSort class="animate" matSortActive="name" matSortDirection="asc"
  matSortDisabled>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Civs: </mat-header-cell>
    <mat-cell *matCellDef="let civ">
      <app-civ-cell [civ]="civ"></app-civ-cell>
    </mat-cell>
  </ng-container>

  <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>